* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-margin-top: 5em;
}

/* Default(darkmode) colours */
:root {
    --background-color: #1a1a1a;
    --background-color2: #181818;
    --text-color: #fff;
    --text-colorflip: #000;
    --containers: #252525;
    --accent: #e74c3c;
    --secondary-accent: #9B1C1C;
    --active: #FF3131;
    --active-border: #ff0000;
}

/* Lightmode colours */
.lightmode {
    --background-color: #dee4e7;
    --background-color2: #fff;
    --text-color: #333;
    --text-colorflip: #fff;
    --containers: #dee;
    --accent: #2c4251;
    --secondary-accent: #ff4365;
    --active: #3f5361;
    --active-border: #6ba7f2;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

/* header and nav style */
header {
    background-color: var(--containers);
    top: 0;
    height: 5em;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    width: 75%;
}

nav a{
    background-color: var(--secondary-accent);
    color: var(--text-color);
    padding: 0.5em;
    border: 2px solid var(--accent);
    border-radius: 1em;
    width: 5.6em;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

nav a:hover {
    color: var(--text-colorflip);
    background-color: var(--accent);
    border-color: var(--secondary-accent);
    transition: 500ms;
}

.active {
    background-color: var(--active);
    color: var(--text-colorflip);
    transition: 1s;
    border: 2px solid var(--active-border);
    width: 6em;
}

button {
    width: 5.6em;
    display: flex;
    justify-content: space-around;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.2em 0.2em;
    border-radius: 1em;
    transition: 250ms;
}

/* main and sections style */
main {
    background-color: var(--background-color2);
    color: var(--text-color);
    top: 5em;
    position: relative;
    width: 85%;
    margin: 0 auto 2em;
    border-radius: 2em;
}

section {
    margin: 2em 0;
    border-radius: 2em;
    border: var(--background-color2) 1px solid;
    padding: 1.5em;
}

section:hover {
    border-color: var(--active);
    transition: 500ms;
}

h2 {
    background-color: var(--containers);
    padding: 0.5em;
}

#about {
    height: 30em;
}

#projects {
    height: 30em;
}

.tempBox {
    border: dotted var(--text-color) 1px;
    width: 20%;
    height: 20em;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

#languages {
    height: 30em;
}

/* footer style */
footer {
    display: relative;
    width: 100%;
    bottom: 0;
    height: 10em;
    margin-top: 8em;
    color: var(--text-color);
    background: linear-gradient(180deg, var(--secondary-accent) 20%, var(--background-color) 90%);
}

.footHeader {
    width: 100%;
    background-color: var(--secondary-accent);
    height: 2em;
}