@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-margin-top: 9.25em;
}

@media only screen and (min-width: 493px) {
    * {
        scroll-margin-top: 7em;
    }
}

@media only screen and (min-width: 1024px) {
    * {
        scroll-margin-top: 3em;
    }
}

/* Default(darkmode) colours */
:root {
    --background-color: #1a1a1a;
    --background-color2: #181818;
    --text-color: #fff;
    --text-colorflip: #000;
    --containers: #252525;
    --accent: #e74c3c;
    --secondary-accent: #9B1C1C;
    --active: #FF3131;
    --active-border: #ff0000;
}

/* Lightmode colours */
.lightmode {
    --background-color: #dee4e7;
    --background-color2: #fff;
    --text-color: #333;
    --text-colorflip: #fff;
    --containers: #dee;
    --accent: #2c4251;
    --secondary-accent: #ff4365;
    --active: #3f5361;
    --active-border: #6ba7f2;
}

body {
    line-height: 1.5;
    background-color: var(--background-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

/* header and nav style */
header {
    background-color: var(--containers);
    top: 0;
    height: max-content;
    width: 100%;
    padding: 0.5em;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
}

nav {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

nav a{
    background-color: var(--secondary-accent);
    color: var(--text-color);
    padding: 0.2em;
    margin: 0.3em auto;
    border: 2px solid var(--accent);
    border-radius: 1em;
    width: 6.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}

nav a:hover {
    color: var(--text-colorflip);
    background-color: var(--accent);
    border-color: var(--secondary-accent);
    transition: 500ms;
}

.active {
    background-color: var(--active);
    color: var(--text-colorflip);
    transition: 1s;
    border: 2px solid var(--active-border);
    width: 7em;
}

button {
    width: max-content;
    display: flex;
    justify-content: space-around;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.2em;
    border-radius: 1em;
    transition: 250ms;
    font-weight: bold;
}

button p {
    padding: 0 0.1em;
}

@media only screen and (min-width: 768px) {
    header {
        justify-content: end;
        flex-wrap: wrap-reverse;
    }

    button {
        margin: 0 1em;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        justify-content: space-between;
    }

    nav {
        width: max-content;
    }

    nav a {
        margin: 0 0.2em;
    }
}

/* main and sections style */
main {
    background-color: var(--background-color2);
    color: var(--text-color);
    top: 9em;
    position: relative;
    width: 100%;
    margin: 0 auto 2em;
    border-radius: 2em;
    font-family: 'roboto';
}

section {
    margin: 1em 0;
    border-radius: 2em;
    border: var(--background-color2) 1px solid;
    padding: 1.5em;
    height: max-content;
}

section:hover {
    border-color: var(--active);
    transition: 500ms;
}

h2 {
    background-color: var(--containers);
    padding: 0.5em;
    font-family: 'Montserrat';
}

@media only screen and (min-width: 493px) {
    main {
        top: 6em;
    } 
}

@media only screen and (min-width: 1024px) {
    main {
        top: 3em;
    }
}

/* Projects Section */
#projects {
    height: max-content;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tempBox {
    border: dotted var(--text-color) 1px;
    width: 80%;
    height: 20em;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

@media only screen and (min-width: 768px) {
    .tempBox {
        flex-basis: 30%;
    }
}

@media only screen and (min-width: 1360px) {
    .tempBox {
        flex-basis: 20%;
    }
}

/* Skills Section */
#skills {
    height: 20em;
}

/* footer style */
footer {
    display: relative;
    width: 100%;
    bottom: 0;
    height: 10em;
    margin-top: 10em;
    color: var(--text-color);
    background: linear-gradient(180deg, var(--secondary-accent) 20%, var(--background-color) 90%);
    font-family: 'Roboto';
}

.footHeader {
    width: 100%;
    background-color: var(--secondary-accent);
    height: 2em;
}

footer p {
    padding: 1em;
}