* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-margin-top: 5em;
}

:root {
    --background-color: #1a1a1a;
    --text-color: #fff;
    --text-colorflip: #000;
    --containers: #252525;
    --accent: #e74c3c;
    --secondary-accent: #9B1C1C;
    --active: #b22222;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

header {
    background-color: var(--containers);
    height: 5em;
    width: 100%;
    position: fixed;
    z-index: 2;
}

nav {
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    width: 75%;
    top: 30%;
}

nav a{
    background-color: var(--secondary-accent);
    color: var(--text-color);
    padding: 0.5em;
    border: 1px solid var(--accent);
    border-radius: 1em;
    width: 5.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

nav a:hover {
    color: var(--text-colorflip);
    background-color: var(--accent);
    border-color: var(--secondary-accent);
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
    top: 5em;
    position: relative;
}

#about {
    height: 30em;
}

#projects {
    height: 30em;
}

#languages {
    height: 30em;
}